.container-fluid{
	width: 1366px;
	background: #f1e3d1;
	margin: 0 auto;
	padding-bottom: 10px;
}
.fon{
background: url("images/header.jpg") 100% 100% no-repeat;
   background-size: cover;
}

.navbar img{
	height: 100%;
}
.navbar {
	padding: 0;
	margin: 0;
}

.navbar ul li a{
padding: 1em 0;

}
.navbar ul li a:hover{
background: #d8ab8b;
padding: 1em 0;

}
.s{
	
	float: left;
	padding-top: 133px;
	
	font:  15pt arial;
    color: white;
}
.s h1{
	text-transform: uppercase;}
.s h2{
	text-transform: uppercase;}
.s p{
	font:  10pt arial;
    color: white;
}
.s button{
	margin-top: 20px;
	background: none;
	padding: 16px 18px;
    color: white;
    border: 2px solid white;
    font: bold  10pt arial;
}
.merezhi{
	
	padding-top: 23px;
	font:  15pt arial;
    color:#333333;
}
.headerform{
	height: 30px;
	background: #b8b2a7;
}

.gg{background-color: #f1e3d1;}

form{
	background-color: #f1e3d1;
	
	border-radius: 5px;
}
.myform{
	margin: 10px 20px;
}
.myform1{
	margin-top: 10px;
}
.btn-primary{
	width: 100%;
	background: #d8ab8b;
	border: none;
}
.headerform{
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	border-radius: 5px  5px 0px 0px;
}
.fon2{
	background: white;
	padding: 113px 0;
}
.fon2 input{
	background: #2a3947;
	padding: 20px 0;
	border: 1px solid white;
	color: #f1e3d1;
}
.fon3{
	padding: 110px 0;
}
.ff{
	font:10pt arial;
    color:#333333;

}
.ff span{
	font:15pt arial;
}
.img{
	width: 100%;
}

.fon4{
	background: white;
	padding: 113px 0;
}
.rab{
	display: flex;
	align-items:center;
}
.fon5{
	background: #2a3947;
	padding: 113px 0;
}
.form-inline{
	display: flex;
	align-items:center;
	background: none;
	justify-content:center;
	justify-content: space-between;
    
}
.headerform1{
	width: 100%;
	text-align: center;
	color: #f1e3d1;
	font:30pt arial;
}
.fon6{
	background: white;
	padding: 113px 0;
}
.fon7{
	background-color: #f1e3d1;
	padding: 40px 0;
}
 
